{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row g-0 h-100">
            <div class="col my-auto">
                <h1 class="display-4 logo-font text-black">Welcome to Cart</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead mb-5 text-center">Your cart is empty.</p>
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}