{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col my-auto">
                <h1 class="display-4 logo-font text-white ">Glass Jungle</h1>
                <h2 class="display-4 logo-font text-white ">Bringing the Jungle to you!</h2>
            </div>
        </div>
        <hr>
        <div class="row h-100">
            
            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <a class="index-btn btn-lg btn-block" href="{% url 'empty_terrariums' %}">Empty Terrariums</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <a class="index-btn btn-lg btn-block" href="{% url 'full_terrariums' %}">Full Terrariums</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <a class="index-btn btn-lg btn-block" href="{% url 'terrarium_accessories' %}">Terrarium Accessories</a>
            </div>
            
        </div>
        <hr>
    </div>
{% endblock %}