{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row g-0 h-100">
        <div class="col my-auto">
            <h1 class="display-4 logo-font text-white">Share Your Builds!</h1>
        </div>
    </div>
</div>
<div class="row">
    {% for post in posts %}
    <div class="col-12 d-flex justify-content-center">
        <div class="card my-4" style="width: 25rem;">
            <a href="#" target="#"><img src="/media/{{post.image}}" class="card-img-top" alt="Image from {{post.title}} post"></a>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{post.poster.username}}</h6>
                <p class="card-text">{{post.comment}}</p>
                <p class="small text-muted">Post Created:{{post.created}}</p>
                <p class="small text-muted">Post Updated:{{post.updated}}</p>
            </div>
            {% if user == post.poster.username %}
            <h6 class="card-title text-center text-uppercase"><a href="{% url 'edit_post' post.id %}" class="btn dark-green-btn rounded-0">Edit Post</a></h6>
            <h6 class="card-title text-center text-uppercase"><a href="{% url 'delete_post' post.id %}" class="btn dark-green-btn rounded-0">Delete Post</a></h6>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="col-12 d-flex justify-content-center">
        {% if request.user.is_authenticated %}
        <div class="share-builds-btn-container">
            <hr>
            <h5 class="card-title text-uppercase"><a href="{% url 'create_post' %}" class="btn dark-green-btn rounded-0">Click to Share Your Builds!</a></h5>
            <hr>
        </div>
        {% else %}
        <div></div>
        {% endif %}
    </div>
</div>
{% endblock %}