{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row g-0 h-100">
            <div class="col my-auto">
                <h1 class="display-4 logo-font text-black">Share Your Builds!</h1>
            </div>
        </div>
    </div>
    <div class="row">
    
    </div>
{% endblock %}