<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown pl-2">
            <div class="d-none d-md-block d-lg-none">
                <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item dropdown pl-2">
            <a class="nav-link dropdown-toggle logo-font font-weight-bold nav-link text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terrariums
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'full_terrariums' %}">Full Terrariums</a>
              <a class="dropdown-item" href="{% url 'empty_terrariums' %}">Empty Terrariums</a>
              <a class="dropdown-item" href="{% url 'terrarium_accessories' %}">Terrarium Accessories</a>
            </div>
        </li>
        <li class="nav-item pl-2">
            <a href="{% url 'share_builds' %}" class="logo-font font-weight-bold nav-link text-black">
                Share Your Builds!
            </a>
        </li>
    </ul>
</div>