{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row g-0 h-100">
            <div class="col my-auto">
                <h1 class="display-4 logo-font text-black">Welcome to Full Terrarium</h1>
            </div>
        </div>
    </div>
    <div class="row">
    {% for product in products %}
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card mx-5 mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="/media/{{product.image}}" class="img-fluid rounded-start" alt="{{ product.name }}">
                  </div>
                    </a>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>                
    {% endfor %}
    </div>
{% endblock %}