{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row g-0 h-100">
        <div class="col my-auto">
            <h1 class="display-4 logo-font text-white">Product Detail</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{products.image}}" class="card-img-top" alt="{{ products.name }}">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>{{ products.name }}</strong></h5>
                    <h6 class="card-title"><strong><i>Description</i></strong></h6>
                    <p class="card-text">{{ products.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="card-title"><strong><i>Manufacture</i></strong></h6>
                        <p class="card-text">{{ products.manufacture }}</p>
                    </li>
                    <li class="list-group-item">
                        <h6 class="card-title"><strong><i>Price</i></strong></h6>
                        <p class="card-text">£{{ products.price }}</p>
                    </li>
                </ul>
                <form class="form" action="{% url 'add_to_bag' products.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ products.id }}" id="decrement-qty_{{ products.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>

                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ products.id }}" id="id_qty_{{ products.id }}">

                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ products.id }}" id="increment-qty_{{ products.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-primary rounded-0 text-uppercase mt-5"
                                value="Add to Cart">
                            <hr>
                        </div>
                        {% if ratings %}
                        <div class="card-body">
                            <h5 class="card-title text-center text-uppercase">Customer Ratings</h5>
                            <h6 class="text-center"><a href="{% url 'create_rating' products.id %}">Leave a Rating</a>
                            </h6>
                        </div>
                        {% for rating in ratings %}
                        <div class="card-body">
                            <hr>
                            <h6>{{ rating.poster.username }}</h6>
                            <p class="card-text"></p>
                            <p class="card-text small">{{ rating.rating }}/5<i class="fas fa-star small"></i></p>
                            <p class="card-text small">{{ rating }}</p>
                            <p class="card-text small">{{ rating.updated }}</p>
                            <p class="card-text small">{{ rating.created }}</p>
                            <hr>
                            {% if user == rating.poster.username %}
                                <a href="{% url 'update_rating' rating.id %}" class="rounded-0 btn-sm btn-dark">Edit Rating</a>
                                <hr>
                                <a href="{% url 'delete_rating' rating.id %}" class="rounded-0 btn-sm btn-dark">Delete Rating</a>
                            {% else %}
                            <p></p>
                            {% endif %}                
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card-body">
                            <h5 class="card-title text-center text-uppercase">this product has has no ratings</h5>
                            {% if request.user.is_authenticated %} <a href="{% url 'create_rating' products.id %}" class="text-center">Leave a Rating</a>{% endif %}
                        </div>
                        {% endif %}

                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}