{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row g-0 h-100">
        <div class="col my-auto">
            <h1 class="display-4 logo-font text-white">Product Detail</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card" style="width: 60rem;">
                <a data-toggle="modal" data-target="#myModal"><img src="{{ MEDIA_URL }}{{products.image}}" class="card-img-top product-detail-img mt-2 px-2"
                    alt="{{ products.name }}"></a>
                <div class="card-body">
                    <h5 class="card-title text-center pb-1"><strong>{{ products.name }}</strong></h5>
                    <h6 class="card-title"><strong><i>Description</i></strong></h6>
                    <p class="card-text">{{ products.description }}</p>
                    <h6 class="card-title"><strong><i>Manufacture</i></strong></h6>
                    <p class="card-text">{{ products.manufacture }}</p>
                    <h6 class="card-title"><strong><i>Price</i></strong></h6>
                    <p class="card-text">£{{ products.price }}</p>
                </div>
                <form class="form" action="{% url 'add_to_bag' products.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-12-lg col-md-6 col-sm-6">
                            <p class="mt-3 text-center"><strong>Quantity:</strong></p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ products.id }}" id="decrement-qty_{{ products.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>

                                    <input class="form-control qty_input product_detail_qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ products.id }}" id="id_qty_{{ products.id }}">

                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ products.id }}" id="increment-qty_{{ products.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <a href="{% url 'home' %}" class="btn keep-shopping-btn rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase text">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn dark-green-btn rounded-0 text-uppercase mt-5"
                                value="Add to Cart">
                            <hr>
                        </div>
                        {% if ratings %}
                        <div class="card-body">
                            <h5 class="card-title text-center text-uppercase">Customer Review</h5>
                            <h6 class="text-center pt-2"><a href="{% url 'create_rating' products.id %}"
                                    class="btn dark-green-btn rounded-0 text-uppercase">Leave a Review</a>
                            </h6>
                        </div>
                        {% for rating in ratings %}
                        <div class="card-body">
                            <hr>
                            <h6>{{ rating.poster.username }}</h6>
                            <p class="card-text"></p>
                            <p class="card-text small">{{ rating.rating }}/5<i class="fas fa-star small"></i></p>
                            <p class="card-text small">{{ rating }}</p>
                            <p class="card-text small">{{ rating.updated }}</p>
                            <p class="card-text small">{{ rating.created }}</p>
                            <hr>
                            {% if user == rating.poster.username %}
                            <div>
                                <a href="{% url 'update_rating' rating.id %}"
                                    class="rounded-0 btn-sm dark-green-btn text-center text-uppercase">Edit Review</a>
                                <hr>
                                <a href="{% url 'delete_rating' rating.id %}"
                                    class="rounded-0 btn-sm dark-green-btn text-center text-uppercase">Delete Review</a>
                            </div>
                            {% else %}
                            <p></p>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card-body">
                            <h5 class="card-title text-center text-uppercase">this product has has no review</h5>
                            {% if request.user.is_authenticated %} <h6 class="text-center"><a
                                    href="{% url 'create_rating' products.id %}"
                                    class="text-center btn dark-green-btn rounded-0 text-uppercase">Leave a Reveiw</a></h6>{% endif %}
                        </div>
                        {% endif %}

                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-center"><strong>{{ products.name }}</strong></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <img src="{{ MEDIA_URL }}{{products.image}}" class="product-detail-modal-img"
                    alt="{{ products.name }}">
                </div>

                

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

{% endblock %}